.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 35px;
  background-color: #90a4ae;
}

.Navbar > img {
  margin-left: 5px;
}

.Navbar > p {
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
}

.Navbar > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 5px;
}
